@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default: "#DEE7E7";
  --default-light: "#333333";
  --tertiary: "#A1A1A1";
  --secondary: "#FAFAFA";
  --secondary-light: "#E5E5E5";
  --primary: "#1565C0"
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255m 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */