@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default: "#DEE7E7";
  --default-light: "#333333";
  --tertiary: "#A1A1A1";
  --tertiary-dark: "#D9D9D9";
  --secondary: "#FAFAFA";
  --secondary-light: "#E5E5E5";
  --primary: "#1565C0";
  --danger: "#DC2626";
  --warning: "#F9C13A";
  --success: "#00B915";
  --primary-light: "#68aefe";
}