@tailwind base;
@tailwind components;
@tailwind utilities;

/* extended variables to tailwind colors */
:root {
  --default: "#DEE7E7";
  --default-light: "#333333";
  --tertiary: "#A1A1A1";
  --tertiary-dark: "#D9D9D9";
  --secondary: "#FAFAFA";
  --secondary-light: "#E5E5E5";
  --primary: "#1565C0";
  --danger: "#DC2626";
  --danger-light: "#f29696";
  --warning: "#F9C13A";
  --success: "#00B915";
  --primary-light: "#68aefe";
}

/* CSS Classes for React Datepicker Package */
.react-datepicker__month-container {
  @apply space-y-2 w-full
}

.react-datepicker__month-wrapper {
  @apply flex items-stretch w-full justify-evenly gap-2
}

.react-datepicker__year-wrapper {
  @apply text-center pt-2
}

.react-datepicker__triangle {
  @apply fill-white stroke-white drop-shadow-lg stroke-0
}

.react-datepicker__aria-live {
  @apply hidden
}

.react-datepicker__week, .react-datepicker__day-names {
  @apply flex justify-evenly
}

.react-datepicker__day--outside-month {
  @apply invisible
}

.react-datepicker__day--in-range {
  @apply bg-primary text-white
}

.react-datepicker__day--range-start {
  @apply rounded-l-lg overflow-hidden
}

.react-datepicker__day--range-end {
  @apply rounded-r-lg overflow-hidden
}

.react-datepicker__day-name {
  @apply p-2 h-10 flex-none w-11 text-center text-sm text-primary
}

.react-datepicker__day {
  @apply p-2 h-10 flex-none w-11 text-center text-sm cursor-pointer
}

.react-datepicker__day--selected.react-datepicker__day--range-start {
  @apply rounded-r-none
}

.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end {
  @apply bg-primary-light/70
}

.react-datepicker__month-text {
  @apply w-[120px] text-center py-2 px-3 cursor-pointer bg-inherit hover:bg-secondary-light
}

.react-datepicker__year-text {
  @apply w-full text-center py-2 px-3 cursor-pointer bg-inherit hover:bg-secondary-light
}

.react-datepicker__month-text--selected,
.react-datepicker__day--selected {
  @apply bg-primary text-white rounded-lg
}

.react-datepicker__year-text--selected {
  @apply bg-primary text-white
}

.react-datepicker-popper {
  @apply z-50;
}

.react-datepicker__year-text--disabled {
  @apply hidden
}

/* CSS Classname for react-toastify */
.Toastify__toast-container {
  @apply z-[99999]
}